header {
  width: 100%;
  background-color: #562b81;
  height: auto;
  font-family: 'Proza Libre', sans-serif;
  color: white;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.header-title {
  display: flex;
  flex-direction: row;
  width: 100%;
}

body {
  background-color: #f0f0f0;
}

h1,
h3 {
  font-family: 'Proza Libre', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.no-entry {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
}

i {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

h3 {
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%;
}

label {
  margin-bottom: 0.5rem;
  font-family: 'Proza Libre', sans-serif;
}

.notes {
  margin-top: 10px;
}

input {
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input:focus {
  outline-color: #562b81;
}

textarea {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

textarea:focus {
  outline-color: #562b81;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-header {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  border: 1px solid;
  padding: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.confirm-btn {
  background-color: red;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5%;
  height: 2rem;
  width: auto;
  border: none;
  color: white;
  margin-right: 1rem;
}

.cancel-btn {
  background-color: lightgray;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5%;
  height: 2rem;
  width: auto;
  border: none;
  margin-left: 1rem;
}

.del-save-row {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  display: flex;
}

.delete-btn {
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.submit-btn {
  background-color: #562b81;
  border-radius: 5%;
  color: white;
  height: 30px;
  width: 60px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

ul#entries-list {
  padding-left: 0;
}

#entries {
  margin-left: 1.5rem;
}

.entries-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.new-btn {
  background-color: #562b81;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
}
